@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.services {
  background-color: $primaryNavy;
  padding: 1rem 0;

    @include tablet{
      padding: 1rem 3rem;
    }

  @include desktop {
    display: flex;

    justify-content: center;
    margin-top: -5rem;
  }

  &__container {
    display: flex;
    margin: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: rgba($primaryWhite, 0.2);
    // border: 0.05rem solid $secondaryDarkPurple;
    box-shadow: 0.2rem 0rem .2rem rgba($primaryWhite, 0.25);

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }
  }
  &__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;

    @include desktop {
      text-align: center;
      max-width: 25rem;
    }
  }
  &__image {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    z-index: 2;

    @include tablet{
      width: 15rem;
      height: 15rem;
    }

    @include desktop {
      width: 25rem;
      height: 25rem;
      border-top: 0.5rem;
      border-bottom: 0;
      border-bottom-left-radius: 0rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      marigin-top: -3 rem;
    }
  }
  &__title {
    padding: 0.5rem 1.25rem;

    @include desktop {
      background-color: $secondaryDarkPurpleGrey;
      display: flex;
      justify-content: center;
      padding: 1rem;
      border-bottom: .125rem solid rgba($primaryWhite, 0.6);
    }
  }
  &__description {
    padding: 0.5rem 1.25rem;
    text-align: justify;
    @include desktop {
      padding: 1.5rem;
    }
  }
}
