@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.services {
  background-color: $primaryNavy;
  &__container {
    display: flex;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
  }
  &__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    background: rgba($primaryNavy, 0.2);
  }
  &__image {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    box-shadow: 0 0.25rem 0.625rem rgba($primaryWhite, 0.2);
    border-end-end-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  &__title {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
  &__description {
    padding: 0 1rem;
    text-align: justify;
    line-height: 1.25;
  }
}
