@use "variables" as *;
@use "mixins" as *;
@use "typography";

* {
    box-sizing: border-box;
    margin:0;
  }
  
  body {
    font-family: "WorkSans", sans-serif;
  }

  h1{
    font-size: 2rem;
    font-weight: 700;
    color: $primaryWhite; 
    text-transform: uppercase; 
    letter-spacing: .25rem;
    @include tablet{
      font-size: 3rem;
  }
  }
  
  h2{
    font-weight: 600;
    font-size: 1.4rem;
    color: $primaryWhite;
  }

  p{
    font-size: .8125rem;
    font-weight: 500;
    color:  $primaryWhite;
    line-height: 1.35;

    @include tablet{
      font-size: .85rem;
    }
    @include desktop{
      font-size: 1rem;
    }

  }

