@font-face {
    font-family: 'WorkSans' ;
    src: url('../../assets/font/static/WorkSans-Light.ttf') format('opentype'),
    url('../../assets/font/static/WorkSans-Light.tff') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'WorkSans' ;
    src: url('../../assets/font/static/WorkSans-Medium.ttf') format('opentype'),
    url('../../assets/font/static/WorkSans-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'WorkSans' ;
    src: url('../../assets/font/static/WorkSans-Bold.ttf') format('opentype'),
    url('../../assets/font/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
}
