$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primaryGreen: #00cc60;
$primaryNavy: #000040;
$primaryGrey: #909e98;
$primaryWhite: #ffffff;

$secondaryDarkGreen: #086353;
$secondaryDarkTeal: #04324a;
$secondaryDarkGrey: #818e8f;
$secondaryPurpleGrey: #74749c;
$secondaryDarkPurpleGrey: #5c607e;
$secondaryDarkPurple: #2c2e5c;
$secondaryDarkPurple2: #3a3a6c;
