@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.tool-input-form {
  max-width: 31.25rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $primaryWhite;
  border-radius: .75rem;
  box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: $secondaryDarkPurple;
    padding-bottom: .25rem;
  }

  select,
  input[type="number"],
  button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid $primaryNavy;
    border-radius: .5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-family: "WorkSans", sans-serif;

    &:focus {
      outline: none;
      border-color: $secondaryDarkPurple;
      box-shadow: 0 0 5px rgba($primaryNavy, 0.5);
    }
  }

  select {
    cursor: pointer;
  }

  input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
  }

  button {
    background-color: $primaryNavy;
    color: $primaryWhite;
    border: none;
    font-weight: 00;
    cursor: pointer;

    &:hover {
      background-color: $secondaryDarkPurple;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.toolinput__unit {
  display: flex;
}

.toolinput__unit-container {
  display: flex;
  margin-right: 2rem;
  padding: 0.5rem 0;
}


// .toolinput__container{
//   @include desktop{
//     display: flex;
//     flex-direction: row;
//     border: 2px solid red;
//   }
